<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264237725329-qp91ckmjrghugpllkvlmsi8rebk6v54m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264237725329-qp91ckmjrghugpllkvlmsi8rebk6v54m</string>
	<key>API_KEY</key>
	<string>AIzaSyDw_xwhYY4e_Q_NW9bgTeihqRUMuAIjXgU</string>
	<key>GCM_SENDER_ID</key>
	<string>264237725329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ghostpayipad</string>
	<key>PROJECT_ID</key>
	<string>ghost-payments</string>
	<key>STORAGE_BUCKET</key>
	<string>ghost-payments.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264237725329:ios:fd34fc073aa27646d43130</string>
	<key>DATABASE_URL</key>
	<string>https://ghost-payments.firebaseio.com</string>
</dict>
</plist>